.modal_container {
    width: 100%;
    height: 100vh;
    align-items: center;
    position: absolute;
    top: 0px;
}

.modal_box {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    height: fit-content;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_form {
    width: 80%;
    padding: 50px 0px;
    height: fit-content;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.modal_form_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;

    color: #ED5955;
}

.modal_input_container {
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.modal_input {
    width: 45%;

}

.modal_btn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-top: 40px;
}

.modal_btn button:nth-of-type(1) {
    background: #ED5955;
    border-radius: 13px;
    width: 160px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    outline: none;
    color: #fff;
    height: 57px;
}

.modal_btn button:nth-of-type(2) {
    border: 1px solid #ED5955;
    border-radius: 13px;
    width: 160px;
    background-color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    outline: none;
    color: #ED5955;
    height: 57px;
}

.modal_close {
    position: absolute;
    top: 0px;
    width: 80%;
    cursor: pointer;
    padding: 30px;
}

a {
    text-decoration: none;
}

.data__ {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 40px 100px;
    color: #646466;

}

.data__ ul {
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .modal_form_header {
        font-weight: 600;
        font-size: 20px;
        line-height: 18px;
        text-align: center;
    }

    .modal_image__ {
        height: 135px !important;
        border-radius: 10px !important;

    }
    .data__ {
        padding: 40px 30px;
    }
    .modal_form {
        width: 90%;
    }
    .modal_input {
        width: 100%;
    }
    .modal_input_container {
        flex-direction: column;
    }
    .text_area {
        margin-top: 130px;
    }

}