.contact_us_container {
    display: flex;
    width: 100%;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_us_container .contact_us_container_header {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #ED5955;
}

.contact_us_container .contact_us_container_text {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #194584;
}

.contact_us_container .contact_form {
    width: 47%;
    height: fit-content;
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.contact_us_box {
    width: 90%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_us_box .contact_form .form_header {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #194584;
    margin-top: 60px;
}

.address__ {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 275;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    padding-bottom: 20px;
    text-align: center;

    color: #194584;
}

.g_map {
    width: 47%;
    height: 650px;
}

@media only screen and (max-width: 768px) {
    .contact_us_box {
        flex-direction: column;
    }

    .contact_us_container .contact_form {
        width: 100%;
    }

    .address__ {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .contact_us_container .contact_form {
        box-shadow: none;
    }
    .g_map {
        width: 100%;
        height: 180px;
    }
}