.card_container {
    width: 80%;
    background: #FFFFFF;
    height: 469.46px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;
    border: 1px solid #ED5955;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sp_cont {
    height: fit-content !important;
    padding-bottom: 40px !important;
}

.card_container button {
    background: #ED5955;
    border-radius: 13px;
    width: 162px;
    height: 51px;
    color: #fff;
    border: none;
    outline: none;
}

.card_box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.card__ {
    padding-left: 100px;
}

.card__2 {
    padding-right: 120px;
}

.card_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: none;
    font-family: 'Poppins';
    color: #ED5955;
}

.card_container ul li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    line-height: 24px;
    color: #646466;
}

.commercial_serrvices {
    background: #4DBDEF;
    border-radius: 70px;
    width: 268px;
    margin-top: 120px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
}

.revs {
    color: #ED5955;
    margin-top: 100px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 26px;
}

.arrow_box {
    width: 20px;
    margin-left: 10px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #fff;
}

.spp {
    width: 50% !important;
}

@media only screen and (max-width: 600px) {
    .card_container {
        width: 80%;
        margin-top: 80px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 26px;
        height: fit-content;
        padding-bottom: 30px;
    }

    .card_box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .spp {
        width: 100% !important;
    }

    .card__ {
        padding-left: 0px;
    }

    .domestic_container .b_Image {
        border-radius: 50% !important;
        width: 118.35px !important;
        height: 114.29px !important;
    }

    .card_header {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding-top: 30px;
    }

    .card_container ul li {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        list-style: none;
        padding: 0px 40px;
        color: #646466;
    }

    .card_container ul li::before {
        width: 5px;
        height: 5px;
        margin: 6px -10px;
        content: "";
        position: absolute;
        border-radius: 20px;
        background-color: #646466;

    }
    .card_box {
        padding-left: 0px !important;
    }

    
}

@media only screen and (max-width: 768px) {
    .b_Image {
        width: 100% !important;
        height: 200px !important;
    }
    .card_container {
        flex-direction: column;
        height: fit-content;
        padding-bottom: 30px;
    }
    .card_box {
        width: 100%;
        padding-left: 40px;
    }
    .card__ {
        padding-left: 40px;
    }
    ._2 {
        order: 3;
    }
}