.domestic_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.domestic_container_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    margin-top: 100px;
    color: #ED5955;
    /* margin-bottom: 100px; */
}

.colored {
    color: #4DBDEF !important;
}

.c_services {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 40px;
    color: #646466;
    text-align: center;
    width: 75%;
}

.colored_bg {
    background-color: #4DBDEF !important;
}

.colored_bg_ {
    cursor: pointer;
    background-color: #ED5955;
}

.c_bg {
    border: 1px solid #4DBDEF !important;

}

@media only screen and (max-width: 600px) {
    .hero_text {
        margin-top: -100px;
    }

    .hero_text .header_text {
        font-weight: 600;
        font-size: 24px;
    }

    .hero_text .header_text_2 {
        font-weight: 300;
        font-size: 11px;
        line-height: 16px;

        color: #000000;
    }

    .domestic_container_header {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin-top: -50px;
    }
    
    ._2 {
        order: 3;
    }
    .c_bg {
        border: none !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 26px;
        height: fit-content;
        padding-bottom: 30px;    
    }
    .c_services {
        margin-bottom: -100px;
    }
    .mobile_image_ {
        margin-top: -100px;
    }
}